<div class="wrapper">
  <div class="logo">
    <%= image_tag 'logo.png' %>
  </div>
  <div class="text-center mt-4 name">
    CHICKY CART
  </div>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email" %>
      </div>
    <%= f.submit "Resend confirmation", class: "btn mt-3" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
