<div class="wrapper">
  <div class="logo">
    <%= image_tag 'logo.png' %>
  </div>
  <div class="text-center mt-4 name">
    CHICKY CART
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-envelope "></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>    
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-lock"></span>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password"%>
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Conform Password" %>
      </div>
      <%= f.submit "Sign up", class: "btn mt-3" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>