<header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">

        <%= image_tag("logo.png", :hight=>"100", :width=>"100")%>
               <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'About Us', about_path, class: 'nav-link' %>
              <!-- <a class="nav-link" href="about.html">About Us</a> -->
            </li>
            <li class="nav-item">
              <%= link_to 'Contact Us', contact_path, class: 'nav-link' %>
              <!-- <a class="nav-link" href="contact.html">Contact Us</a> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info about-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>our solid background on Poultry Farm</span>
                  <h2>Get to know about <em>our Website</em></h2>
                  <p> Assist the poultry farm industry in managing farm activity records, concentratING on poultry farm automation. Handle stock control, payments and accounts, and update health status of their products, which was limited due to manual management and technological limitations. 
                    <br><br>Provide buyers with a vast number of options across a variety of areas nearest to their location rather than just one response and recommend placing orders for poultry products that are accessible within their budget. 
                  </p>
                  <a href="" class="filled-button">Read More</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="left-image">
                  <%= image_tag 'farm-bg.jpg' %>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our team <em>members</em></h2>
            <span>Experience in collabration with passion </span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-item">
            <%= image_tag("team_01.jpg", :height=>"300", :width=>"400") %>
            <div class="down-content">
              <h4>Mr. Asif Ameer</h4>
              <span>Supervisor</span>
              <p>Mr. Asif Ameer has joined FAST in 2020 and working as a Lecturer in Department of Computer Science. He have supervised multiple projects based on various domains, he's currently working on Chicky Cart Poultry Farm Application with Ahmad, Mahnoor and Zia</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-item">
            <%= image_tag("team_02.jpg", :height=>"300", :width=>"400") %>
            <div class="down-content">
              <h4>Mr. Ahmad Zunair</h4>
              <span>Developer </span>
              <p>Joined the team in 2022 to work on Chicky Cart Poultry Farm Application along with group mate Zia Ullah and Mahnoor.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-item">
            <%= image_tag("team_03.jpg", :height=> "300", :width=> "400") %>
            <div class="down-content">
              <h4>Mahnoor</h4>
              <span>Developer</span>
              <p>Joined the team in 2022 to work on Chicky cat poultry farm application along with group mate Zia Ullah and Ahmad Zunaair.</p>
            </div>
          </div>
        </div>
      <div class="col-md-3">
        <div class="team-item">
          <%= image_tag("team_03.jpg", :height=> "300", :width=> "400") %>
          <div class="down-content">
            <h4>John Doe</h4>
            <span>Chief Executive Officer</span>
            <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


  <!-- Footer Starts Here -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-item text-center">
          <h4>Poultry Farm Automation</h4>
          <p>Gathering Seller And Buyer Of Poultry Product On <em>One Platform!</em></p>
          <ul class="social-icons">
            <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 footer-item text-center">
          <h4>Additional Pages</h4>
          <ul class="menu-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">How We Work</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>