<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <%= image_tag("logo.png", :hight=>"100", :width=>"100")%>
      <a class="navbar-brand" href="#">
        <h2>Chicky Cart</h2>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to 'About Us', about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact Us', contact_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log In', user_session_path , class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path , class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <!-- Item -->
    <div class="item item-1">
      <div class="img-fill">
        <div class="text-content">
          <h6>we are ready to bring evolution </h6>
          <h4>Poultry Farm<br>Automation</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Ends Here -->

<div class="request-form">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>Request Customer servise ?</h4>
        <span>We Would Love To Assist You.</span>
      </div>
      <div class="col-md-4">
        <a href="contact.html" class="border-button">Contact Us</a>
      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Poultry Farm <em>Automation</em></h2>
          <span>Gathering Seller And Buyer Of Poultry Product On <em>One Platform!</em></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <%= image_tag 'Chakri_Hatchery.jpg' %>
          
          <div class="down-content">
            <h4>Find Farm</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam odit, dolorem corporis consectetur magnam nihil cum sunt praesentium vel consequuntur repellat nam quia voluptates accusamus iusto. Esse exercitationem totam sit.
            </p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <%= image_tag 'production.jpg' %>
          
          <div class="down-content">
            <h4>Manage Records</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, dicta exercitationem tempora eum ea esse blanditiis laborum nulla vitae iusto quibusdam. Hic quo fugit minus corrupti optio harum doloremque repellat.
            </p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <%= image_tag 'ready.jpg' %>
          
          <div class="down-content">
            <h4>Manage Payment</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore id nihil veritatis, nostrum possimus sequi consequuntur harum distinctio eum illum deserunt voluptates, cumque libero deleniti ducimus voluptatum culpa. Velit, quos.
            </p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="more-info-content">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <%= image_tag 'farm-bg.jpg' %>
              </div>
            </div>
            <div class="col-md-6 align-self-center">
              <div class="right-content">
                <span>Who we are</span>
                <h2>Get to know about <em>our Website</em></h2>
                  <p> Assist the poultry farm industry in managing farm activity records, concentratING on poultry farm automation. Handle stock control, payments and accounts, and update health status of their products, which was limited due to manual management and technological limitations. 
                    <br><br>Provide buyers with a vast number of options across a variety of areas nearest to their location rather than just one response and recommend placing orders for poultry products that are accessible within their budget. 
                  </p>
                <a href="#" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>What they say <em>about us</em></h2>
          <span>testimonials from our greatest clients</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-testimonials owl-carousel">
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- Footer Starts Here -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-item text-center">
          <h4>Poultry Farm Atomation</h4>
          <p>Gathering Seller And Buyer Of Poultry Product On <em>One Platform!</em></p>
          <ul class="social-icons">
            <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 footer-item text-center">
          <h4>Additional Pages</h4>
          <ul class="menu-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">How We Work</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
