<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-custom-gradient">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <%= image_tag 'logo.png', class: "logo-img"%>
    <hr>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <%= link_to (admin_users_path), class: "nav-link align-middle px-0" do %>
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Block User</span>
        <% end %>
      </li>
      <li>
        <%= link_to (view_block_user_admin_users_path), class: "nav-link px-0 align-middle" do %>
          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-white">Unblock User</span>
        <% end %>
      </li>
      <li>
        <%= link_to (manage_subscription_admin_users_path), class: "nav-link px-0 align-middle" do %>
          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-white">Manage Subscription</span>
        <% end %>
      </li>
      <li>
        <%= link_to (create_admin_admin_users_path), class: "nav-link px-0 align-middle" do %>
          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-white">Create Admin</span>
        <% end %>
        <!-- <a href="#" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-white">Create Admin</span>
        </a> -->
      </li>
    </ul>
  </div>
</div>

<style type="text/css">
.bg-custom-gradient {
  background: #a4c639;
}  
</style>


