<div class="container-fluid admin">
  <div class="row bg-custom-gradient text-white py-3">
    <ul class="nav px-5 w-100 justify-content-between">
      <li class="nav-item">You are logged In as an admin:</li>
      <li class="nav-item">
        <em class="font-weight-bold"> admin@example.com </em>
      </li>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, style: 'color: white' %>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid position-fixed">
  <div class="row flex-nowrap">
    <%= render partial: 'admin/users/admin_sidebar' %>
    <div class="col py-3 overflow-auto">
      <%= form_for @user, :as => :user, method: :post, :url => send_mail_create_admin_admin_users_path do |f| %>
			  <div class="col-md-6  mx-auto">
			    <!-- Qualification -->
			    <h2 class="stylish mt-3 mt-md-1 text-center">Create Admin</h2>
			    <br>
			    <div class="form-group">
			      <label for="user_first_name">Email:</label>
			      <%= f.text_field :email, placeholder: "Email",class: "form-control" %><br>
			    </div>
			    <div class="form-group">
			      <label for="user_first_name">First Name:</label>
			      <%= f.text_field :first_name, placeholder: "First Name",class: "form-control" %><br>
			    </div>
			    <div class="form-group">
			      <label for="user_first_name">Last Name:</label>
			      <%= f.text_field :last_name, placeholder: "Last Name",class: "form-control" %><br>
			    </div>
			    <div class="form-group">
			      <%= f.hidden_field :role, value: 'admin'%>
			    </div>
			    <div class="form-group">
			      <%= f.submit 'Send E-mail', class: 'btn btn-primary' %>
			    </div>
			  </div>
			<% end %>
    </div>
  </div>
</div>

<style type="text/css">
.bg-custom-gradient {
  background: #a4c639;
}  
</style>