<div class="container-fluid admin">
  <div class="row bg-custom-gradient text-white py-3">
    <ul class="nav px-5 w-100 justify-content-between">
      <li class="nav-item">You are logged in as an admin:</li>
      <li class="nav-item">
        <em class="font-weight-bold"> admin@example.com </em>
      </li>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, style: 'color: white' %>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid position-fixed">
  <div class="row flex-nowrap">
    <%= render partial: 'admin/users/admin_sidebar' %>
    <div class="col py-3 overflow-auto addScroll p-0">
      <table class="table table-striped ">
        <thead class="table-warning">
          <tr class="table-active">
            <th>Sr#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <% @users.each_with_index do |user, index| %>
        <tbody>
          <tr>
            <td><%= (index + 1) %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td>
            <% if user.deleted_at.nil? %>
              <%= link_to (block_admin_user_path(user)), class: "btn-danger btn mr-md-2 table-btn", title: 'Block User' do %>
                <i class="fa-solid fa-ban"></i>
              <% end %>
            <% else %>
              <%= link_to (unblock_admin_user_path(user)), class: "btn btn-success btn mr-md-2 table-btn", title: 'Unblock User' do %>
                <i class="fa-solid fa-unlock"></i>
              <% end %>
            <% end %>
            <%= link_to (view_profile_admin_user_path(user)), class: "btn-primary btn table-btn", title: 'View Profile' do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to (delete_blocked_user_admin_user_path(user)), method: :delete , class: "btn-primary btn table-btn", title: 'Delete User' do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>


