<fieldset>
    <h4>Fill The Farm Data:</h4>
    <div class="form-group">
        <%= f.label :farm_name %>
        <input type="text" name="farm[farm_name]" placeholder="Farm Name..."
            class="f1-farm form-control" id="f1-farm">
    </div>
    <div class="form-group">
        <%= f.label :year_of_establish %>
        <input type="date" name="farm[year_of_establish]" class="form-control" id="f1-year">
    </div>
    <div class="form-group">
        <%= f.label :village_name %>
        <input type="text" name="farm[village_name]" class="form-control" id="f1-village"
            placeholder="Village Name...">
    </div>
    <div class="form-group">
        <%= f.label :farm_address %>
        <input type="text" name="farm[farm_address]" class="form-control" id="f1-address"
            placeholder="Farm Address...">
    </div>
    <div class="form-group">
        <%= f.label :bird_type %>
        <select name="farm[bird_type]" class="form-select">
            <option value="">Bird Type</option>
            <option value="Chicken">Chicken</option>
            <option value="Turkeys">Turkeys</option>
            <option value="Ducks">Ducks</option>
            <option value="Guinea Fowl">Guinea Fowl</option>
        </select>

    </div>
    <div class="form-group">
        <%= f.label :category %>
        <select name="farm[category]" class="form-select">
            <option value="">Category</option>
            <option value="Broiler">Broiler</option>
            <option value="Layer">Layer</option>
            <option value="Hatchery">Hatchery</option>
            <option value="Egg">Egg</option>
        </select>

    </div>


    <div class="f1-buttons">
        <button type="button" class="btn btn-previous">Previous</button>
        <button type="button" class="btn btn-next">Next</button>
    </div>
</fieldset>






