<fieldset>
    <h4>Tell us who you are:</h4>
    <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, placeholder: 'First Name', class: 'f1-first-name form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, placeholder: 'Last Name', class: 'f1-last-name form-control' %>
    </div>
    <div class="form-group">
        <label class="sr-only" for="f1-phone-number">Phone Number</label>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, placeholder: '03xxxxxxxxx', class: "f1-phone-number form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :landline %>
        <%= f.text_field :landline, placeholder: '04xxxxxxxx', class: "form-control"  %>
    </div>
    <div class="form-group">
        <%= f.label :city %>
        <select name="user[city]" class="form-select">
            <option value="">Select City</option>
            <option value="chiniot">Chiniot</option>
            <option value="faisalabad">Faisalabad</option>
            <option value="lahore">Lahore</option>
            <option value="rawalpindi">Rawalpindi</option>
            <option value="islamabad">Islamabad</option>
            <option value="abbotabad">Abbotabad</option>
            <option value="attock">Attock</option>
            <option value="badin">Badin</option>
            <option value="bahawalpur">Bahawalpur</option>
            <option value="bhalwal">Bhalwal</option>
            <option value="bhakkar">Bhakkar</option>
            <option value="burewala">Burewala</option>
            <option value="chacklala">Chacklala</option>
            <option value="chichawatni">Chichawatni</option>
            <option value="chishtian">Chishtian</option>
            <option value="dargai">Dargai</option>
            <option value="daska">Daska</option>
            <option value="dera Allah Yar">Dera Allah Yar</option>
            <option value="dera Ghazi Khan">Dera Ghazi Khan</option>
            <option value="dera Ismail Khan">Dera Ismail Khan</option>
            <option value="dijkot">Dijkot</option>
            <option value="dina">Dina</option>
            <option value="dinga">Dinga</option>
            <option value="dunyapur">Dunyapur</option>
            <option value="gujranwala">Gujranwala</option>
            <option value="hafizabad">Hafizabad</option>
            <option value="hasilpur">Hasilpur</option>
            <option value="jhang">Jhang</option>
            <option value="jhelum">Jhelum</option>
            <option value="jatoi">Jatoi</option>
            <option value="kamalia">Kamalia</option>
            <option value="kotMumin">Kot Mumin</option>
            <option value="kotRadhaKishan">Kot Radha Kishan</option>
            <option value="kotli">Kotli</option>
            <option value="lalian">Lalian</option>
            <option value="larkana">Larkana</option>
            <option value="mandiBahauddin">Mandi Bahauddin</option>
            <option value="mardan">Mardan</option>
            <option value="masiwala">Masiwala</option>
            <option value="matli">Matli</option>
            <option value="mehar">Mehar</option>
            <option value="mianChannu">Mian Channu</option>
            <option value="mianwali">Mianwali</option>
            <option value="mingora">Mingora</option>
            <option value="mirpur Khas">Mirpur Khas</option>
            <option value="multan">Multan</option>
        </select>
        
    </div>
    <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address , placeholder: 'Address',  class: "form-control" %>
        <%= f.hidden_field :is_complete, value: 'true'%>
    </div>
    <div class="f1-buttons">
        <button type="button" class="btn btn-next">Next</button>
    </div>
</fieldset>


